<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <update id="update">
        UPDATE dish
        <set>
            <if test="categoryId != null">category_id = #{categoryId}, </if>
            <if test="description != null and description != ''">description = #{description}, </if>
            <if test="image != null and image != ''">image = #{image}, </if>
            <if test="name != null and name != ''">name = #{name}, </if>
            <if test="price != null">price = #{price}, </if>
            <if test="status != null">status = #{status}, </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="startOrStop">
        UPDATE dish
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <delete id="deleteDish">
        DELETE FROM dish WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteDishFlavor">
        DELETE FROM dish_flavor WHERE dish_id IN
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.*, c.name category_name
        FROM dish d LEFT JOIN category c ON d.category_id = c.id
        <where>
            <if test="categoryId != null and categoryId != 0">
                AND d.category_id = #{categoryId}
            </if>
            <if test="name != null and name != ''">
                AND d.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
        </where>
        ORDER BY d.update_time DESC
    </select>
    <select id="getById" resultType="com.sky.entity.Dish">
        SELECT d.*, c.name category_name
        FROM dish d LEFT JOIN category c ON d.category_id = c.id
        WHERE d.id = #{id}
    </select>
    <select id="getByCategory" resultType="com.sky.entity.Dish">
        SELECT d.*, c.name category_name FROM dish d LEFT JOIN category c ON d.category_id = c.id
        WHERE category_id = #{catagoryId}
    </select>
</mapper>
