<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">
    <select id="getTurnOverByDate" resultType="java.lang.Double">
        SELECT SUM(amount) FROM orders
        WHERE status = 5 AND
              checkout_time >= #{zero} AND
              checkout_time &lt;= #{twentyFour}
    </select>
    <select id="getNewUserByDate" resultType="java.lang.Long">
        SELECT COUNT(id) FROM user
        WHERE create_time >= #{zero} AND
              create_time &lt;= #{twentyFour}
    </select>
    <select id="getTotalUserByDate" resultType="java.lang.Long">
        SELECT COUNT(id) FROM user
        WHERE create_time &lt;= #{twentyFour}
    </select>
    <select id="getOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM orders
        <where>
            <if test="zero != null">AND order_time >= #{zero}</if>
            <if test="twentyFour != null">AND order_time &lt;= #{twentyFour}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>
    <select id="getTotalOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM orders
        <where>
            <if test="twentyFour != null">AND order_time &lt;= #{twentyFour}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>
    <select id="getTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT od.name, SUM(od.number) number FROM order_detail od LEFT JOIN orders o ON od.order_id = o.id
        WHERE o.status = 5 AND order_time >= #{zero} AND order_time &lt;= #{twentyFour}
        GROUP BY name
        ORDER BY number DESC
        LIMIT 0, 10
    </select>

</mapper>
